{% extends "base.html" %}

{% block title %}
    Вход
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Вход</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=64) }}
        </div>
        <div>
            {{ form.remember.label }}<br>
            {{ form.remember() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        
    </form>
{% endblock %}